## Neural Net Feature Importance with Captum

In this noteboook we'll use Captum to determine which factors most affect the value of a electricity spread option.

In [1]:
import pandas as pd

In [4]:
data1 = pd.read_pickle("td1.pkl")
data1

,risk_free,vol1,vol2,corr,k1,k2,e1_start,e2_start,mu1,mu2,option_value
0,0.000246,0.022983,0.051694,-0.275666,0.547739,0.586659,26.736341,27.136899,25.858735,34.003442,6.797245
1,0.000058,0.029828,0.005129,-0.022649,0.720233,0.207708,33.555252,26.736119,29.976300,33.063499,5.440954
2,0.000321,0.053443,0.020939,0.391795,0.308738,0.046923,31.241577,27.143763,33.058117,27.189379,10.974798
3,0.000130,0.033620,0.016250,-0.003000,0.654085,0.382512,34.044292,33.778042,34.696238,25.894681,8.243242
4,0.000210,0.057207,0.021190,0.484918,0.575378,0.668296,30.335520,28.391513,25.502045,32.433721,6.613631
...,...,...,...,...,...,...,...,...,...,...,...
995,0.000112,0.053097,0.004299,-0.333567,0.768216,0.337214,34.621471,33.468169,31.182119,31.041109,8.497143
996,0.000354,0.031760,0.021648,-0.083521,0.351174,0.157237,31.195508,25.220686,30.048410,32.220798,8.755558
997,0.000313,0.019658,0.007295,0.114385,0.734555,0.080676,33.150742,29.541750,29.388757,26.355994,5.017967
998,0.000333,0.032423,0.014175,-0.483280,0.664412,0.756130,33.669413,27.771951,32.342944,30.563165,8.713112
999,0.000084,0.006729,0.040190,0.241876,0.392413,0.591942,30.429751,33.090927,33.070153,34.379000,5.600640